grant codebase "library/-" {
	permission AllPermission;
};

grant codebase "tests/-" { permission SocketPermission "*", "listen accept";
                           permission FilePermission "tests/-", "read write";};

